apiVersion: 1

datasources:
- name: prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: http://{{ ansible_default_ipv4.address }}:9090
  isDefault: true
  version: 1
  editable: true

- name: Loki
  type: loki
  access: proxy
  url: http://{{ ansible_default_ipv4.address }}:3100
  jsonData:
    maxLines: 1000