version: "3.7"

services:

  prometheus:
    image: {{ prometheus_docker_image }}
    container_name: {{ prometheus_container_name }}
    depends_on:
      - loki
    restart: always
    expose:
      - {{ prometheus_port }}
    volumes:
      - {{ prometheus_docker_data_dir }}:/etc/prometheus:ro
    networks:
      - {{ default_monitoring_network }}
    logging:
      driver: {{ log_driver }}
      options:
        loki-url: "http://{{ ansible_default_ipv4.address }}:{{ loki_port }}/loki/api/v1/push"         

  node-exporter:
    image: {{ node_exporter_image }}
    container_name: {{ node_exporter_container_name }}
    depends_on:
      - loki    
    restart: always
    labels:
        - "prometheus-job=node-exporter"    
    expose:
      - {{ node_exporter_port }}
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
#      - {{ node_exporter_dir }}:/textcollector:ro      
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --collector.filesystem.ignored-mount-points
      - ^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)
#      - --collector.textfile.directory=/textcollector
    networks:
      - {{ default_monitoring_network }} 
    logging:
      driver: {{ log_driver }}
      options:
        loki-url: "http://{{ ansible_default_ipv4.address }}:{{ loki_port }}/loki/api/v1/push"

  grafana:
    image: {{ grafana_docker_image }}
    container_name: {{ grafana_container_name }}
    depends_on:
      - loki    
    restart: always
    environment:
        - GF_SECURITY_ADMIN_USER={{ grafana_admin }}
        - GF_SECURITY_ADMIN_PASSWORD={{ grafana_password }}
    labels:
        - "prometheus-job=grafana"      
    ports:
      - {{ grafana_docker_ports }}
    volumes:
      - {{ grafana_docker_data_dir }}:/var/lib/grafana
      - {{ grafana_docker_conf_dir }}:/etc/grafana
      - {{ grafana_docker_log_dir }}:/var/log/grafana
      - {{ grafana_docker_dashboards_dir }}:/etc/grafana/provisioning/dashboards
    user: {{ grafana_docker_user }}
    networks:
      - {{ default_monitoring_network }}  
    logging:
      driver: {{ log_driver }}
      options:
        loki-url: "http://{{ ansible_default_ipv4.address }}:{{ loki_port }}/loki/api/v1/push"

  loki:
    image: {{ loki_docker_image }}
    container_name: {{ loki_container_name }}
    restart: always
    labels:
        - "prometheus-job=loki"             
    ports:
      - {{ loki_docker_ports }}
    volumes:
      - "{{ loki_docker_conf_dir }}:/etc/loki"
      - "{{ loki_docker_log_dir }}:/var/log"
      - /var/run/loki.sock:/var/run/loki.sock
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - {{ default_monitoring_network }}         

  promtail:
    image: {{ promtail_docker_image }}
    container_name: {{ promtail_container_name }}
    depends_on:
      - loki    
    restart: always
    labels:
        - "prometheus-job=promtail"        
    expose:
      - {{ promtail_port }}
    volumes:
      - {{ promtail_docker_log_dir }}:/var/lib/docker/containers
      - {{ promtail_docker_conf_dir }}:/etc/promtail/
    command: -config.file=/etc/promtail/config.yml  
    networks:
      - {{ default_monitoring_network }}
    logging:
      driver: {{ log_driver }}
      options:
        loki-url: "http://{{ ansible_default_ipv4.address }}:{{ loki_port }}/loki/api/v1/push"             

  alertmanager:
    image: {{ alertmanager_image }}
    container_name: {{ alertmanager_container_name }}
    depends_on:
      - loki    
    restart: always
    labels:
        - "prometheus-job=alertmanager"     
    volumes:
      - {{ alertmanager_docker_conf_dir }}:/etc/alertmanager
      - {{ alertmanager_docker_data_dir }}:/alertmanager
    expose:
      - {{ alertmanager_port }}
    networks:
      - {{ default_monitoring_network }}
    logging:
      driver: {{ log_driver }}
      options:
        loki-url: "http://{{ ansible_default_ipv4.address }}:{{ loki_port }}/loki/api/v1/push"      

  cadvisor:
    image: {{ cadvisor_docker_image }}
    container_name: {{ cadvisor_container_name }}
    depends_on:
      - loki    
    restart: always
    labels:
        - "prometheus-job=cadvisor"       
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/rootfs:ro
      - /var/run:/var/run
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
    expose:
      - {{ cadvisor_port }}
    networks:
      - {{ default_monitoring_network }}
    logging:
      driver: {{ log_driver }}
      options:
        loki-url: "http://{{ ansible_default_ipv4.address }}:{{ loki_port }}/loki/api/v1/push"      

networks:
  {{ default_monitoring_network }}:
    driver: bridge
