#/bin/bash

dashboards=`ls {{ grafana_docker_dashboards_dir }}`

echo "Folders created"
echo "--------------------"

for d in $dashboards;
do

curl -i -u "{{ grafana_creds }}" -H "Content-Type: application/json" -X POST http://localhost:3000/api/dashboards/db -d @{{ grafana_docker_dashboards_dir }}/$d

done

echo "Dashboards imported"