global:
  scrape_interval: 1m
rule_files:
  - rules/nodes.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets:
           - {{alertmanager_container_name}}:9093 

scrape_configs:
- job_name: "self"
  static_configs:
  - targets:
    - localhost:9090    

- job_name: "docker-containers"
  docker_sd_configs:
    - host: http://{{ ansible_default_ipv4.address }}:{{ docker_daemon_port }}
  relabel_configs:
    # Only keep containers that have a `prometheus-job` label.
    - source_labels: [__meta_docker_container_label_prometheus_job]
      regex: .+
      action: keep
    # Use the task labels that are prefixed by `prometheus-`.
    - regex: __meta_docker_container_label_prometheus_(.+)
      action: labelmap
      replacement: $1
